/*
    Variables
*/
$card-text-color: #4D5F7F;
/*
    Name : Info Section
*/
section.info {
    padding-top: 1rem;
    .card {
        color: $card-text-color;
        padding: 1rem;
        margin: 1rem 0;
        @extend .isolate;
        border: none;
        > h2 {
            font-size: 1.8rem;
        }
        > .icon {
            text-align: center;
            padding: 1rem;
            > i {
                font-size: 6rem;
            }
        }
        > .text {
            text-align: center;
            font-size: 1.6rem;
        }
        &.sales {
            > .icon > i ,
            > .text > .value {
                color: #F1C40F;
            }
        }
        &.views {
            > .icon > i ,
            > .text > .value {
                color: #2C3E50;
            }
        }
        &.orders {
            > .icon > i ,
            > .text > .value {
                color: #E74C3C;
            }
        }
    }
}
/*
    Name : Dashboard
*/
.dashboard {
    margin: 2rem 0;
    .dashboard-content {
        @extend .isolate;
        padding-bottom: 1rem;
        > .controllers {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 2rem 3rem;
            > .select{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                > .buttons {
                    display: none;
                    &.active {
                        display: block;
                    }
                    > .btn{
                        margin: 0 .2rem;
                    }
                }
                .form-group {
                    margin: 0 .5rem;
                }
            }
            .btn-add {
                background-color: $main-color;
                color: #fff;
                border-radius: 100px;
                padding: 1rem 1.5rem;
            }
        }
        > .products {
            margin: 0 4rem;
        }
        > .dashboard-table {
            width: 80%;
            margin: 1rem auto;
            tr {
                position: relative;
                &:nth-child(odd){
                    @extend .isolate-2;
                    > td:first-child {
                        border-radius: 10px 0 0 10px;
                    }
                    > td:last-child {
                        border-radius: 0 10px 10px 0;
                    }
                }
                > td {
                    padding: .5rem 1rem;
                }
            }
            .logo {
                > img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
            .buttons > button {
                margin: .3rem;
                &:first-child {
                    vertical-align: bottom;
                }
            }
        }
        > .workers {
            margin: 0 2rem;
            .worker {
                @extend .isolate-3;
                padding: 2rem;
                margin: 1rem 0;
                // general
                h5 {
                    font-weight: 600;
                    color: $text-layer-3;
                }
                // children
                > .name {
                    text-align: center;
                    > i {
                        font-size: 5rem;
                        color: var(--primary);
                    }
                    > h4 {
                        padding: .5rem;
                    }
                }
                > .branches {
                    > ul > li {
                        list-style-type: disclosure-closed;
                    }
                }
                > .permissions {
                    > ul {
                        > li {
                            display: inline-block;
                            position: relative;
                            padding-left: 1.25rem;
                            margin-right: 1rem;
                        }
                        > li::before {
                            content:"\25EF";
                            font-size: 1rem;
                            vertical-align: baseline;
                            position: absolute;
                            left:0;
                        }
                        > li[data-permission="add"]::before {
                            color: var(--primary)
                        }
                        > li[data-permission="edit"]::before {
                            color: var(--success)
                        }
                        > li[data-permission="delete"]::before {
                            color: var(--danger)
                        }
                    }
                }
                > .controllers {
                    text-align: center;
                    > button {
                        margin: 0 .3rem;
                    }
                }
            }
        }
        > .orders {
            margin: 2rem;
            .order {
                border: 3px solid $line-color;
                border-radius: 10px;
                padding: 1rem;
                ul > li {
                    margin: 1rem;
                    list-style-type: disclosure-closed;
                    .details {
                        display: block;
                        color: $text-layer-2;
                        margin: .5rem 0;
                        .point:not(:first-child) {
                            padding: 0 .5rem;
                        }
                    }
                }
                .buttons {
                    display: flex;
                    gap: 1rem;
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
        > .categories {
            margin: 2rem;
            .categories-list {
                .category {
                    @extend .isolate-3;
                }
                .category[data-level="0"] {
                    padding: .5rem 0;
                    margin: 1rem 0;
                }
                .category {
                    .category {
                        height: 0;
                        overflow: hidden;
                        margin-left: 1rem;
                    }
                    &.expand {
                        > .category {
                            height: auto;
                            overflow: unset;
                        }
                        > .category-content i.fa-chevron-right {
                            transform: rotateZ(90deg);
                        }
                    }
                    .category-content{
                        padding: 0 1rem;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        > span {
                            cursor: pointer;
                            > i {
                                margin: 8px;
                                transition: transform 100ms ease-in-out;
                            }
                        }
                    }
                }
            }
            .action {
                .expand {
                    display: none;
                }
            }
        }
    }
}