.orders-page {
    margin: 2rem 0;
    .orders {
        @extend .isolate;
        padding: 1rem 1.5rem;
        h2 {
            padding: 1rem 0;
        }
        .order-progress {
            width: 800px;
            .states {
                position: relative;
                display: flex;
                justify-content: space-between;
                .progress {
                    z-index: 4;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 25%;
                    .progress-bar {
                        --factor: 0;
                        width: calc((100% / 3) * var(--factor));
                    }
                }
                .state-name {
                    --size: 70px;
                    width: var(--size);
                    text-align: center;
                    text-transform: capitalize;
                    .state {
                        --color: #b2bec3;
                        &.done {
                            --color: var(--primary);
                        }
                        position: relative;
                        z-index: 5;
                        background-color: var(--color);
                        border-radius: 100%;
                        border: 2px solid #fff;
                        outline: 2px solid var(--color);
                        width: var(--size);
                        height: var(--size);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        > i {
                            font-size: 2rem;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .order {
            @extend .isolate-2;
            margin: 1rem 0;
            display: grid;
            grid-template-columns: auto;
            overflow: hidden;
            .order-item {
                @extend .isolate-3;
                display: flex;
                gap: 0 1rem;
                margin: 1rem;
                overflow: hidden;
                &.accepted {
                    >.details .state{
                        --state-color: var(--success);
                    }
                }
                &.rejected {
                    >.details .state{
                        --state-color: var(--danger);
                    }
                }
                .picture {
                    width: 115px;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                > .details {
                    padding: 1rem 0;
                    margin-right: 1rem;
                    .state {
                        @extend .labelled-info;
                        text-transform: capitalize;
                    }
                    > span {
                        display: block;
                    }
                    .sold-by {
                        color: $text-layer-2;
                    }
                    .name {
                        font-size: 1.2rem;
                        margin: 0.5rem 0;
                    }
                    .interact {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 1rem;
                        .form-group {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            > .details {
                padding: 1rem;
                display: grid;
                gap: 1rem;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                align-items: center;
                > span {
                    display: block;
                }
            }
            .conflict {
                > p {
                    --state-color: var(--warning);
                }
                .buttons {
                    display: flex;
                    > .btn {
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}
