// start light theme
.single-page-form {
    .head  h2 , .product-form  h3{
        color: $second-color;
    }
}
// end light theme
.preview-container{
    .toggle-container {
        width: 100px;
        aspect-ratio: 4/7;
        overflow: hidden;
        border-radius: 10px;
        border: 3px solid $line-color;
        box-sizing: content-box;
        margin: 1rem;
        .toggle {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .preview {
        z-index: 3;
        position: fixed;
        visibility: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        &.active {
            visibility: visible;
        }
        .img-boundries {
            margin: 0 auto;
            max-width: 300px;
            width: 70vw;
            aspect-ratio: 4/7;
            border: 2px dashed #000;
            overflow: hidden;
            box-sizing: content-box;
            .img-drag {
                display: inline-block;
                position: relative;
                img {
                    width: 100%;
                    transition: width 75ms ease-in-out;
                }
            }
        } 
        .range {
            width: fit-content;
            margin: 1rem auto;
        }
    }
}
.single-page-form {
    .title {
        text-transform: uppercase;
        padding: 2rem;
        text-align: center;
        > h2 {
            width: fit-content;
            margin: 0 auto;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                background-color: $main-color;
                width: 100%;
                height: 3px;
                bottom: -10px;
            }
        }
    }
    .form {
        margin: 1rem;
        .form-group {
            position: relative;
            > i {
                display: none;
            }
            > input:not(.is-valid):not(.is-invalid) + i {
                display: block;
                position: absolute;
                color: $second-color;
                right: 12px;
                bottom: 10px;
                transition: opacity 200ms ease-in-out;
            }
            > input:focus + i {
                opacity: 0;
            }
            > input[type="number"] {
                & + i {
                    transition: none!important;
                }
                &:hover + i {
                    opacity: 0;
                }
            }
        }
        .categories {
            margin: 1rem 0;
            .show-categories {
                @extend .isolate;
                padding: 1.5rem;
                .sub-category {
                    margin-left: 1rem;
                }
            }
        }
        > h3 {
            font-weight: 400;
        }
        > .groups {
            margin-top: 1rem;
            margin-left: 1rem;
            .form-group .plus {
                @extend .isolate;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 200px;
                margin: 1rem;
                cursor: pointer;
                > i {
                    font-size: 3rem;
                }
            }
        }
        > .btns {
            width: fit-content;
            margin: 1rem auto;
        }
    }
}