.single-store {
    .background-store {
        width: 100%;
        height: 300px;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .info-control-container {
        position: relative;
        height: 150px;
        .store:hover .logo > img {
            transform: scale(1);
        }
        .info-control {
            position: absolute;
            width: calc(100% - 30px);
            display: flex;
            top: -75px;// half of logo height
            left: 15px;
            align-items: flex-end;
            justify-content: space-between;
            > .control-panel::after {
                display: none;
            }
        }
    }
}