@import '~bootstrap/scss/bootstrap.scss';
@import "./lib/fontawesome.scss";
// @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@font-face {
    font-family: "Roboto";
    src: URL("./fonts/Roboto-Bold.ttf") format("truetype");
}
// Variables
$z-index-escape-effect: 3;
$z-index-form: 3;
$z-index-nav-bar: 3;
$z-index-logo-bars: 4;
// Colors
$shodow-color: #00000026;
$shadow: 0 0px 6px #00000026;
$main-shadow: 0 0 5px #00000026;
$main-color: var(--primary);
$page-title-color: #0d2c47;
$second-color: #2c3e50; // input icons and mini titles
$ov-white: #f7f8fa;
$text-layer-1: #7f8eaf;
$text-layer-2: #838da5;
$text-layer-3: #b8c1d3;
$text-layer-4: #dbdee6;
$line-color: #e6e8e9;
// bootstrap border
$border: 1px solid #dee2e6 !important;

// mixins

/*
Name : Rules
*/
html {
    scroll-behavior: smooth;
}

.radio-boxs {
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: calc(100% - 50px);
        top: 45px;
        left: 5px;
        background-color: $line-color;
    }
    > .radio-box-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-check {
            width: 100%;
            margin: 0;
            padding-left: 0;
            .form-check-label {
                width: 100%;
                display: flex;
                padding: 0.5rem 0;
                justify-content: space-between;
                transition: padding-left 300ms ease-in-out;
                &:hover {
                    background-color: $text-layer-3;
                    padding-left: 0.5rem;
                }
                &.active {
                    background-color: $second-color;
                    color: #fff;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.empty-cart , .empty-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    > i {
        font-size: 3rem;
        color: #dfdfdf;
    }
    > strong {
        color: $text-layer-2;
    }
}
.empty-products {
    line-height: 2.5;
    > i {
        font-size: 5rem;
    }
    > strong {
        font-size: 1.5rem;
    }
}

.message-link {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.form-title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: capitalize;
    font-family: Roboto;
    color: #374151;
}

span.count {
    position: absolute;
    top: -5px;
    right: -10px;
    display: block;
    padding: 0 0.3rem;
    border-radius: 20px;
    color: #fff;
    background-color: #e74c3c;
}

.form-control {
    border: 1px solid $line-color;
}

.isolate {
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 10px;
}

.isolate-2 {
    background-color: #ececec;
    border-radius: 10px;
}

.isolate-3 {
    background-color: #f6f6f6;
    border-radius: 10px;
}

.z-index-1 {
    z-index: 1 !important;
}

.form-check {
    position: relative;
    margin: 0.5rem 0;
    cursor: pointer;

    > input:checked + label .box {
        background-color: #007bff;
    }

    label {
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        .box {
            display: inline-block;
            position: relative;
            width: 25px;
            height: 25px;
            margin-right: 0.5rem;
            background-color: #fff;
            border: 1px solid #007bff;
            border-radius: 5px;

            .fa-check {
                position: absolute;
                top: 4px;
                left: 4px;
                z-index: 1;
                color: #fff;
            }
        }
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: "Varela Round", sans-serif;
}

.carousel-indicators {
    z-index: 1;
}

body {
    overflow-x: hidden;
    background-color: $ov-white;
}

.message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: clamp(150px, 90vw, 500px);
}

.btn-black {
    background-color: #000000eb;
    color: #fff;

    &:hover {
        color: #fff;
        background-color: #000;
    }
}

.control-panel {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: 2rem;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 2px;
        background-color: #e8e8e8;
    }

    > .navigation > ul,
    > ul.filters {
        padding: 0;
        margin: 0;

        > li {
            cursor: pointer;
            list-style: none;
            display: inline-block;

            span {
                cursor: pointer;
            }
        }
    }

    .navigation {
        > .sm-only {
            display: none;
        }

        > ul {
            > li {
                margin: 0 1rem;
                position: relative;
                font-size: 1.1rem;
                color: #7f8eaf;

                &.active {
                    color: $main-color;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 58px;
                        width: 100%;
                        z-index: 1;
                        height: 2px;
                        background-color: $main-color;
                    }
                }

                > i {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    > .filter {
        @extend .isolate;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 3;
        background-color: #fff;
        padding: 1rem;
        transform: translate(-50%, -50%);
        overflow-y: auto;

        &.active {
            display: block;
            max-width: 90vw;
            width: 1140px;
            height: 70vh;
        }

        .grid {
            padding: 1rem;
            display: grid;
            grid-template-columns: auto auto;
        }

        .filter-option {
            width: fit-content;

            > .content {
                margin: 1rem;

                > .category {
                    .category-name {
                        user-select: none;
                        font-size: 1.2rem;

                        i {
                            margin-right: 0.5rem;
                        }
                    }

                    .subcategories {
                        margin-left: 0.5rem;
                    }
                }
            }

            &.price-range > .content {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .form-group {
                    width: 100px;
                    margin-bottom: 0;
                }
            }

            &.specificaitions {
                .specification .options {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            &.options {
                .colors {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }

    > ul.filters {
        text-align: center;
        position: relative;

        > li {
            margin: 0 0.5rem;
            color: #838da5;

            &#search {
                > form {
                    display: none;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;

                    &.active {
                        display: block;
                    }
                }
            }

            &#filter {
                cursor: unset;
            }

            i {
                color: #dbdee6;
                margin-right: 0.3rem;
            }

            &:hover,
            &:hover i {
                color: #7f8eaf;
            }
        }
    }
}

/*
    Name : User-Form Kit
*/
.btn-center {
    display: block;
    margin: 0 auto;
}

.escape-effect {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: $z-index-escape-effect;

    &.active {
        height: 100vh;
    }
}

.popup {
    position: fixed;
    width: 380px;
    max-width: 95%;
    max-height: 90vh;
    background-color: #fff;
    box-shadow: 0px 1px 3px #a2a2a2;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale, 0.95));
    z-index: $z-index-form;
    padding: 2rem;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;

    &::-webkit-scrollbar {
        width: 0px;
    }

    &.active {
        --scale: 1;
        pointer-events: all;
        opacity: 1;
    }

    &.form {
        .select {
            display: flex;
            width: fit-content;
            justify-content: space-between;
            margin: 1.5rem auto;
            background-color: #e2f8e3;
            color: #1f8b24;
            padding: 5px;
            border-radius: 10px;

            > .option {
                padding: 0.2rem 1rem;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;

                &.active {
                    background-color: #fff;
                    color: #000;
                    border-radius: 10px;
                }
            }
        }

        .login-or-register {
            text-align: center;

            > span {
                display: block;
                margin-top: 1rem;
            }
        }

        .login-with {
            display: flex;
            justify-content: space-evenly;
            margin-top: 1.5rem;

            i {
                font-size: 3rem;
            }

            svg {
                width: 48px;
                height: 48px;
            }
        }
    }
}

/*
    Name : Navbar
*/
nav {
    --background: #eee;
    --color: #333030;
    --move-inactive-slide: -300px;
    --move-active-slide: 0;
    position: relative;
    z-index: 2;
    width: 100vw;
    background-color: var(--background);
    padding: 0 1.5rem;
    margin: 0 auto;
    box-shadow: 0px 2px 8px #3d3d3d;
    transition: width 300ms ease-in-out;

    &.stick {
        --move-inactive-slide: calc(-300px - 1vw);
        --move-active-slide: -1vw;
        position: fixed;
        top: 2px;
        border-radius: 10px;
        width: 98vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .escape-effect {
        left: var(--move-active-slide);
    }

    .bars {
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 1.5rem;

        .bar {
            width: 1.5rem;
            height: 3px;
            background-color: var(--color);
            display: block;
            margin: 3px 0;
        }

        .bar:nth-child(3) {
            width: 0.75rem;
        }

        &:hover .bar {
            animation: none;
            animation: bar 0.3s ease-in-out;
            animation-fill-mode: forwards;
        }

        .bar:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:hover .bar:nth-child(3) {
            animation: lastBar 0.3s ease-in-out 0.4s forwards;
        }

        &.nav-bar {
            z-index: $z-index-logo-bars;

            .bar:not(body.dark nav .bars.nav-bar .bar) {
                background-color: #000;
            }
        }
    }

    #nav-bar,
    #cart {
        position: fixed;
        z-index: $z-index-nav-bar;
        width: 300px;
        height: 100vh;
        top: 0;
        background-color: #fff;
        transition: left 400ms ease-in-out, right 400ms ease-in-out;
    }

    #nav-bar {
        left: var(--move-inactive-slide);

        &.active {
            left: var(--move-active-slide);
        }

        :not(.stick #cart) {
            left: -300px;

            &.active {
                left: 0;
            }
        }

        > ul {
            margin-top: 5rem;
            padding-left: 0;

            > li {
                list-style-type: none;
                width: 90%;

                > a {
                    color: #000;
                    padding: 1rem;
                    padding-left: 2rem;
                    width: 100%;
                    display: block;
                    border-radius: 0 10px 10px 0;
                    transition: padding 300ms ease-in-out, color 200ms ease-in-out;

                    &:hover {
                        text-decoration: none;
                        color: #512d6d;
                        padding-left: 2.5rem;
                    }

                    &.active {
                        color: #512d6d;
                        background-color: #eee;
                        font-weight: bold;
                    }

                    > i {
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        > .options {
            .logout {
                margin: 1rem 2rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: $text-layer-2;
                transition: color 200ms ease-in-out;

                &:hover {
                    color: unset;
                }

                span {
                    margin: 0 0.5rem;
                }

                i {
                    font-size: 1.2rem;
                }
            }
        }
    }

    #cart {
        right: var(--move-inactive-slide);
        padding: 2em 1.5em;

        &.active {
            right: var(--move-active-slide);
        }

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $line-color;
            padding-bottom: 1rem;

            .close {
                cursor: pointer;

                i {
                    font-size: 1.8rem;
                }
            }
        }

        .content {
            overflow-y: auto;
            height: calc(100% - 3rem - 92px);

            margin: {
                top: 2rem;
                bottom: 1rem;
            }

            .cart-item {
                @extend .isolate-2;
                position: relative;
                display: grid;
                grid-template-rows: auto auto;
                // align-items: center;
                padding: 1rem 0;

                margin: {
                    top: 1rem;
                    bottom: 1rem;
                    right: 0.5rem;
                }

                overflow: hidden;

                .close {
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    color: var(--danger);
                }

                .picture {
                    position: relative;
                    width: 100px;
                    aspect-ratio: 4/7;
                    margin: 0 auto;
                    margin-bottom: 0.5rem;

                    .img {
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }

                .details {
                    padding: 1rem;
                    padding-bottom: 0;

                    > span {
                        display: block;
                        margin: 0.5rem 0;
                    }
                }
            }
        }
    }

    .logo {
        margin: 0 2rem;

        > a,
        > a:hover {
            color: var(--color);
            text-decoration: none;
        }
    }

    .logo.nav-bar:not(body.dark nav .logo.nav-bar) {
        > a,
        > a:hover {
            color: #000;
        }
    }

    .logo.nav-bar {
        z-index: $z-index-logo-bars;
    }

    .search {
        padding: 0.75rem;
        position: relative;

        > input {
            width: 13rem;
            border: none;
            border-radius: 100px;
            padding: 0.5rem 1rem;
            transition: width 0.3s ease-in-out;

            &:focus {
                outline: none;
                width: 19rem;
            }
        }

        > i {
            position: absolute;
            top: 50%;
            right: 15%;
            transform: translateY(-50%);
            transition: opacity 0.2s ease-in-out;
        }

        > input:focus + i {
            opacity: 0;
        }
    }

    .user-cart {
        > .circle {
            background-color: #fff;
            width: 50px;
            height: 50px;
            padding: 1rem;
            margin: 0 0.5rem;
            border-radius: 100%;
            position: relative;
            cursor: pointer;

            &.cart {
                position: relative;
            }

            &.search-icon {
                display: none;
            }

            > i {
                color: var(--color);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.3rem;
            }
        }
    }
}

@keyframes bar {
    from {
        width: 0;
    }

    to {
        width: 1.5rem;
    }
}

@keyframes lastBar {
    from {
        width: 0;
    }

    to {
        width: 0.75rem;
    }
}

/*
    Name : Nav Categories
*/
.nav-categories {
    background-color: black;
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;

    > li {
        display: inline-block;
        border: 1px solid transparent;
        transition: border-color 200ms ease-in-out;

        &:hover {
            border: 1px solid #fff;
        }

        a {
            display: inline-block;
            padding: 0.5rem 1rem;
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

/*
    Name : Slider
*/
.slider {
    position: relative;
    width: 100vw;
    overflow: hidden;

    .right-arrow,
    .left-arrow {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 1;
        cursor: pointer;
        width: 66px;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);

        > i {
            margin: 0 1rem;
            font-size: 2rem;
        }
    }

    .right-arrow {
        right: 0;
    }

    .left-arrow {
        left: 0;
    }

    .photo {
        position: absolute;
        width: 100%;
        max-height: 50vh;
        min-height: 150px;
        transition: left 800ms ease-in-out;
        background-color: #000;

        > img {
            width: 100%;
            height: clamp(150px, 50vh, 500px);
            object-fit: cover;
        }
    }
}

/*
    Name : Stores
*/
.stores {
    margin: 3rem 0;
}

.store {
    cursor: pointer;
    margin-right: 2rem;

    .logo {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 100%;
        border: 3px solid $line-color;
        overflow: hidden;
        transition: transform 300ms ease-in-out;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .name {
        text-align: center;
        margin: 1rem 0;

        > h3 {
            color: #000;
            font-size: 1.5rem;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:hover .logo {
        transform: scale(0.9);
    }
}

/*
    Name : Categories
*/
.categories {
    .grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 250px 250px;
        justify-content: space-between;

        .category {
            position: relative;

            &:nth-child(2) {
                grid-area: 1/2 / 3/ 3;
            }

            &:nth-child(6) {
                grid-area: 2/3 / 3/ 5;
            }

            &:hover::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #4b4b4b85;
            }

            &:hover > .photo > img {
                transform: scale(1.2);
            }

            &:hover > .lable {
                bottom: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, 50%);
                background-color: transparent;
            }

            > .photo {
                height: 100%;
                overflow: hidden;

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 500ms ease-in-out;
                }
            }

            > .lable {
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: #000;
                color: #fff;
                padding: 0.5rem 1rem;
                transition: bottom 400ms ease-in-out, left 400ms ease-in-out, transform 400ms ease-in-out;

                > h4 {
                    margin: 0;
                }
            }
        }
    }
}

/*
    Name : Products
*/
.products {
    margin: 3rem 0;

    h2 {
        margin: 1rem;
        margin-bottom: 2rem;
    }

    .product {
        --border-radius: 10px;
        display: block;
        width: 200px;
        height: 300px;
        margin: 1rem;
        box-shadow: 0px 0px 5px $shodow-color;
        color: #000;
        border-radius: var(--border-radius);
        position: relative;
        overflow: hidden;

        .selectable-box {
            display: inline-block;
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 10px;
            width: 25px;
            height: 25px;
            margin: 0 0.5rem;
            background-color: #fff;
            border: 1px solid #007bff;
            border-radius: 5px;

            &.selected {
                background-color: #007bff;
            }

            .fa-check {
                position: absolute;
                top: 4px;
                left: 4px;
                z-index: 1;
                color: #fff;
            }
        }

        .picture {
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 200px;

            .img {
                object-fit: cover;
                object-position: 50% 100%;
                border-radius: var(--border-radius);
                transition: transform 300ms ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        > .product-details {
            width: 100%;
            bottom: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            border-radius: var(--border-radius);
            background-color: #fff;
            padding: 1rem;
            text-align: center;
            cursor: auto;
            height: 120px;

            > .menu-bars {
                display: block;
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                transition: font-size 75ms ease-in-out;
                user-select: none;

                &:hover {
                    font-size: 1.1rem;
                }
            }

            > .menu {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 0;
                right: 15px;
                transform: translateY(-90%);
                background-color: #fff;
                border-radius: 10px;
                transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;

                &.active {
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(-105%);
                }

                > a,
                > button {
                    white-space: nowrap;
                    padding: 0.3rem;
                    user-select: none;
                }

                > a,
                > a:hover {
                    color: var(--success);
                    text-decoration: none;
                }

                > button {
                    &:focus {
                        box-shadow: none;
                    }

                    &:nth-of-type(1) {
                        color: var(--danger);
                    }

                    &:nth-of-type(2) {
                        color: var(--dark);
                    }
                }
            }

            > .name {
                display: block;
                height: 2rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .separator {
                display: block;
                width: 95%;
                height: 1px;
                background-color: #00000024;
                margin: 0 auto;
            }

            > .price {
                display: block;
                padding: 0.2rem 0.5rem;
                font-size: 1.14rem;

                > .old {
                    display: block;
                    font-size: 0.95rem;

                    > del {
                        opacity: 0.7;
                    }

                    > .badge {
                        margin: 0 0.3rem;
                    }
                }
            }
        }
    }
}

/*
    Name : Row-Show Kit
*/
@keyframes loading {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    .loading {
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 3px solid var(--primary);
        border-bottom: 3px solid transparent;
        border-radius: 100%;
        animation: loading 800ms linear infinite forwards;
    }
}

/*
    Name : Row-Show Kit
*/
.row-show-container {
    position: relative;
}

.row-show {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
    overflow-x: auto;
}

.row-show > div {
    flex-shrink: 0;
}

// .row-show
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(133, 133, 133);
}

.row-show-container .left-arrow,
.row-show-container .right-arrow {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.row-show-container .left-arrow {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.row-show-container .right-arrow {
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.row-show-container .left-arrow > i,
.row-show-container .right-arrow > i {
    font-size: 2rem;
    background-color: #fff;
    border-radius: 100%;
}

.row-show-container .right-arrow.active,
.row-show-container .left-arrow.active {
    display: block;
}

/*
Imported files
*/
@import "admin.scss";
@import "single-page.scss";
@import "product-page.scss";
@import "category-page.scss";
@import "store-page.scss";
@import "cart.scss";
@import "mobile.scss";
@import "darkmode.scss";
